.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    min-height: 180px;
    background-color: var(--ifm-navbar-background-color);
    background-clip: border-box;
    border: 1px solid rgba(0 0 0 / 12.5%);
    border-radius: 0.65rem;
    padding: 20px;

    html[data-theme="dark"] & {
      background-color: rgb(255 255 255 / 10%);
    }

    .card-content {
      margin-bottom: 0.5rem;
    }

    p {
      text-align: center;
    }
  }
}
