@import "main";
@import "socials";
@import "card";
@import "values";
@import "team";
@import "values";
@import "../pages/index.scss";

@font-face {
  font-family: "Barlow Regular";
  src: url("/static/fonts/Barlow/Barlow-Light.ttf");
}

@font-face {
  font-family: "Barlow Bold";
  src: url("/static/fonts/Barlow/Barlow-Bold.ttf");
}

:root {
  --ifm-code-font-size: 95%;
  --ifm-heading-color: #181c49;
  --ifm-color-primary: #0f1e3d;
  --ifm-background-color: #dfe4e9;
  --ifm-navbar-background-color: #f2f6f9;
  --ifm-font-family-base: "Barlow Regular", sans-serif;
  --ifm-heading-font-family: "Barlow Regular", sans-serif;
  --ifm-font-family-base-bold: "Barlow Bold", sans-serif;
  --ifm-font-color-base: #0f1e3d;
  --ifm-footer-background-color: #dfe4e9;
  --ifm-menu-background-color: #f2f6f9;
  --ifm-menu-color: #0f1e3d;
  --ifm-navbar-search-input-background-color: rgba(15, 30, 61, 0.04);
  --ifm-navbar-search-input-color: rgba(15, 30, 61, 0.4);
  --search-local-modal-shadow: white;
  --search-local-highlight-color: #0f1e3d;
  --search-local-hit-background: white;
  --search-local-hit-color: #0f1e3d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-code-font-size: 95%;
  --ifm-color-primary: white;
  --ifm-heading-color: white;
  --ifm-background-color: #0d1933;
  --ifm-navbar-background-color: #0f1e3d;
  --ifm-font-color-base: white;
  --ifm-menu-background-color: #0f1e3d;
  --ifm-menu-color: white;
  --ifm-footer-background-color: #0d1933;
  --ifm-navbar-search-input-background-color: rgba(255, 255, 255, 0.04);
  --ifm-navbar-search-input-color: rgba(255, 255, 255, 0.4);
  --search-local-modal-shadow: var(var(--ifm-color-primary));
  --search-local-highlight-color: rgba(255, 255, 255, 0.4);
  --search-local-hit-background: #0f1e3d;
  --search-local-hit-color: white;
}

.col col--3 {
  display: none;
}
