@import "main";
@import "socials";

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/static/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Sans Bold";
  src: url("/static/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
}

:root {
  --ifm-code-font-size: 95%;
  --ifm-heading-color: #181c49;
  --ifm-background-color: #dfe4e9;
  --ifm-navbar-background-color: #f2f6f9;
  --ifm-font-family-base: "IBM Plex Sans", sans-serif;
  --ifm-heading-font-family: "IBM Plex Sans bold", sans-serif;
  --ifm-heading-font-family: "IBM Plex Sans", sans-serif;
  --ifm-font-color-base: #0f1e3d;
  --ifm-footer-background-color: #dfe4e9;
  --ifm-menu-background-color: #f2f6f9;
  --ifm-menu-color: #0f1e3d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-code-font-size: 95%;
  --ifm-heading-color: #ffffff;
  --ifm-background-color: #0d1933;
  --ifm-navbar-background-color: #0f1e3d;
  --ifm-font-color-base: white;
  --ifm-menu-background-color: #0f1e3d;
  --ifm-menu-color: white;
  --ifm-footer-background-color: #0d1933;
}
