.pagination-nav {
  display: none;
}

.navbar__link,
.menu__link {
  font-weight: 500;
  font-size: 16px;
  font-family: var(--ifm-heading-font-family);
  color: var(--ifm-menu-color);
}

.navbar__link--active,
.menu__link--active {
  font-weight: 700;
}

.navbar__items {
  .navbar__search {
    input {
      font-family: var(--ifm-font-family-base);
      font-weight: 500;
      font-size: 16px;
      line-height: 72px;

      svg {
        path {
          fill: var(--ifm-color-primary);
        }
      }
    }

    > button {
      cursor: pointer;
    }
  }
}

.menu {
  background-color: var(--ifm-menu-background-color);
}

.homepage__video {
  width: 750px;
}

.table-of-contents {
  display: none;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  margin-top: 56px;
  margin-bottom: 40px;
}

p,
ul {
  text-align: justify;
}

div.footer__title {
  text-align: left;
}

h3 {
  text-align: left;
}

pre code {
  background-color: var(--ifm-navbar-background-color);
  text-align: left;
}
