.pagination-nav {
  display: none;
}

html {
  .navbar--fixed-top {
    height: 80px;
  }

  .menu__link--active {
    border-radius: 0;
    color: #ff9500 !important;
    border-right: 2px solid#ff9500;
  }

  .menu__list-item-collapsible:hover {
    border-radius: 0;
    border-right: 2px solid;
  }

  .theme-doc-sidebar-item-link:hover {
    a:not(.menu__link--active) {
      border-radius: 0;
      border-right: 2px solid;
    }
  }

  .navbar__items {
    .navbar__search {
      input {
        font-family: var(--ifm-font-family-base);
        font-weight: var(--ifm-font-weight-semibold);
        font-size: 16px;
        line-height: 72px;

        svg {
          path {
            fill: var(--ifm-color-primary);
          }
        }
      }

      > button {
        cursor: pointer;
      }
    }

    .navbar__link--active,
    .navbar__link:hover {
      -webkit-text-fill-color: #0000;
      background: #f79413;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  .navbar__link,
  .menu__link {
    font-weight: var(--ifm-font-weight-semibold);
    font-size: 18px;
    font-family: var(--ifm-font-family-base);
  }

  .navbar__link,
  .navbar__link--active,
  .menu__link--active {
    font-weight: var(--ifm-font-weight-bold);
  }

  .footer {
    background: var(--ifm-footer-background-color-main);

    .footer__title {
      color: white;
    }

    .footer__link-item {
      color: #ced2d9;

      &:hover {
        color: white;
      }
    }

    .footer__copyright {
      color: white;
    }
  }

  .hash-link {
    display: none;
  }
}

h2,
html .footer__title {
  font-family: var(--ifm-heading-font-family);
}

h3,
h4,
h5,
h6 {
  font-family: inherit;
}

.menu {
  background-color: var(--ifm-menu-background-color);
}

.homepage__video {
  width: 750px;
}

.table-of-contents {
  display: none;
}

.container {
  text-align: center;

  .okp4-video {
    margin: 40px;
  }
}

h1 {
  font-size: 3rem;
  margin-top: 56px;
  margin-bottom: 40px;
  font-family: var(--ifm-h1-font-family);
}

p,
ul {
  text-align: justify;
}

div.footer__title {
  text-align: left;
}

h3 {
  text-align: left;
}

pre code {
  background-color: var(--ifm-navbar-background-color);
  text-align: left;
}

.menu__link--sublist {
  &.menu__link--active {
    border: none;
    color: var(--ifm-font-color-base);
  }
}

.menu a:hover {
  background-color: #ff95001f;
}

iframe {
  max-width: 100%;
}
